;To use this file, rename it to UpdateEx.dll.config
;Plugin configuration

; ВЫЗОВ ВНЕШНИХ ПРОГРАММ ПЕРЕД/ПОСЛЕ ОБНОВЛЕНИЯ
[common]
; общий (вызывается перед перебором дистрибутивов, текущий каталог: папка %FARHOME%):
PreInstall =
; общий (вызывается после перебора дистрибутивов, текущий каталог: папка %FARHOME%):
PostInstall =

[00000000-0000-0000-0000-000000000000]
; дистрибутив Far Manager (текущий каталог: папка %FARHOME%):
; вызов внешних программ
PreInstall =
PostInstall =
; переопределение домашней страницы модуля
;  URLHome = http://www.farmanager.com/nightly.php
;переопределение страницы с логом изменений модуля
;  URLChangelog = http://farmanager.googlecode.com/svn/trunk/unicode_far/changelog

[9F25A250-45D2-45A0-90A3-5686B2A048FA]
; сторонний дистрибутив, например, PicView Advanced (текущий каталог: папка плагина):
PreInstall =
PostInstall =
URLHome =
URLChangelog =
