;To use this file, rename it to UpdateEx.dll.config
;Plugin configuration

; ВЫЗОВ ВНЕШНИХ ПРОГРАММ ПЕРЕД ОБНОВЛЕНИЕМ
[PreInstall]
; общий (вызывается перед перебором дистрибутивов, текущий каталог: папка плагина UpdateEx):
common =

; дистрибутив Far Manager (текущий каталог: папка %FARHOME%):
00000000-0000-0000-0000-000000000000 =

; сторонний дистрибутив, например, PicView Advanced (текущий каталог: папка плагина):
;9F25A250-45D2-45A0-90A3-5686B2A048FA =


; ВЫЗОВ ВНЕШНИХ ПРОГРАММ ПОСЛЕ ОБНОВЛЕНИЯ
[PostInstall]
; дистрибутив Far Manager (текущий каталог: папка %FARHOME%):
00000000-0000-0000-0000-000000000000 =

; сторонний дистрибутив, например, PicView Advanced (текущий каталог: папка плагина):
;9F25A250-45D2-45A0-90A3-5686B2A048FA =

; общий (вызывается после перебора дистрибутивов, текущий каталог: папка плагина UpdateEx):
common =
