;To use this file, rename it to Update.dll.config

;Plugin configuration

[update]
; 0 - manual
; 1 - download automatically
auto=0

; 0 - leave downloaded packages
; 1 - delete downloaded packages after install
delete=1

; каталог куда будем скачивать архивы
; dir=%FARHOME%\FarUpdate\
dir=%TEMP%\FarUpdate\

[connect]
; 5 - секунд ждать ответа от farmanager.com
wait=10

; 0 - direct connect
; 1 - use proxy
proxy=0

; server:port
srv=

; leave empty to use windows settings
user=
pass=

[events]
PostInstall=